html, body {width:100%;height:100%}

#map{position:fixed;}

div.outer {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}

.control-panel {
  width: 350px;
  left:30px;
  margin-top:30px;
  background-color: white;
  padding: 0 20px 20px 20px;
  opacity: 0.85;
}

.prediction-panel {
  right:30px;
  margin-top:30px;
  background-color: black;
  color:white;
  padding: 0 20px 20px 20px;
  opacity: 0.7 !important;
  font-size:20px!important;
  font-weight:bold;
  padding: 20px;
  border-radius: 7px;
  text-align: center;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.selected-map-label {
  width:200px;
  font-weight:bold;
  font-size:16px!important;
  background-color:black;
  color:white;
}

.map-label {
  font-size:12px!important;
}